<% page.posts.each(function(post){ %>
  <div class="media home-media">
    <a href="<%- url_for(post.path) %>">
      <img class="col-md-3 media-img" src="<%= post.photos %>" alt="<%= post.title %>">
    </a>
    <div class="media-body">
      <a href="<%- url_for(post.path) %>" class="media-heading"><%= post.title %></a>
      <p class="media-subtitle">
        <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'YYYY年MM月DD日') %></time> by <span>MayWzp</span>
      </p>
      <p class="media-desc"><%= post.description %></p>
      <a href="<%- url_for(post.path) %>" class="btn btn-primary">更多</a>
    </div>
  </div>
  <div class="card home-card" href="<%- url_for(post.path) %>">
    <!-- <h2 class="card-header"><%= post.title %></h2> -->
    <div class="card-block">
      <a href="<%- url_for(post.path) %>" class="card-title"><%= post.title %></a>
      <p class="card-subtitle">
        <span class="author">作者：<span>maywzp</span></span>•
        <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'YYYY-MM-DD') %></time>
      </p>
    </div>
    <div class="card-block">
        <a href="<%- url_for(post.path) %>" class="card-banner" style="background-image:url(<%= post.photos %>)">
          <!-- <img src="<%= post.photos %>" alt=""> -->
        </a>
    </div>
    <% if(post.description) { %>
    <div class="card-block">
      <p class="card-text" href="<%- url_for(post.path) %>"><%= post.description %></p>
    </div>
    <% } %>
    <div class="card-footer">
      <a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
    </div>
  </div>
<% }) %>
<% if (page.total > 1){ %>
  <nav id="page-nav">
    <%- paginator({
      prev_text: "&laquo;",
      next_text: "&raquo;"
    }) %>
  </nav>
<% } %>
